.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.images_container {
    padding: 0 var(--gap-s);
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-wrap: wrap;
}

.aside_images_container {
    max-width: 560px;
    align-self: start;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}

.main_image {
    width: 100%;
    max-width: 560px;
    max-height: 742px;
}

.image {
    display: flex;
    width: 56px;
    height: 56px;
    cursor: pointer;
    background-size: cover;
    margin: 4px;
    margin-left: 0;
}

.select_image {
    outline: 3px solid var(--color-dark-bg-overlay);
}

.cell_container {
    width: 100%;
    margin: 0 auto;
    padding: var(--gap-s) var(--gap-3xl);
    align-self: start;
    text-align: start;
}

.main_container {
    align-self: start;
    text-align: start;
}

.options_container {
    width: 40%;
}

.selector_text {
    font-size: 16px;
}

.amount {
    padding: var(--gap-l) 0;

    font-size: 20px;
}

.button {
    width: 100%;
    border-radius: 30px;
    margin-top: var(--gap-l);
}

.description_text {
    margin-top: var(--gap-xl);
    line-height: 1.5;
    font-size: 16px;

}

@media (max-width: 1024px) {
    .container {
        display: block;
        max-width: 600px;
    }

    .cell_container {
        padding: var(--gap-xl) var(--gap-s);
    }

    .images_container {
        padding: 0 var(--gap-xs);
        width:  95%;
        max-width: 600px;
    }

}