.containerHeader {
    font-size: 115px;
    line-height: 130px;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
}

.link {
    width: 33%;
    text-decoration: none;
    color: #000000;
}

@media (max-width: 1024px) {
    .link {
        width: 50%;
    }

    .containerHeader {
        font-size: 75px;
        line-height: 88px;
    }
}

@media (max-width: 600px) {
    .containerHeader {
        font-size: 42px;
        line-height: 44px;
    }
}

@media (max-width: 470px) {
    .link {
        width: 100%;
    }

    .containerHeader {
        font-size: 42px;
        line-height: 44px;
    }
}
