.cellContainer {
    padding-bottom: var(--gap-2xl);
}

.titleText {
    line-height: 25px;
    margin: 0;
}

.text {
    line-height: 25px;
    margin: 0;
}

.image {
    max-width: 70px;
    max-height: 70px;
}

.quantityContainer {
    display: flex;
    align-self: center;
    margin-right: var(--gap-s);
}

.priceContainer {
    display: flex;
    align-self: center;
}

.iconContainer {
    margin: 0 var(--gap-s);
    width: 20px;
    height: 20px;
}

.sumContainer {
    border-top: 1px solid var(--color-light-border-underline-inverted);
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-l);
    align-items: flex-end;
    text-align: end;
    display: flex;
}

.amountSum {
    align-items: end;
    text-align: end;
    margin-left: var(--gap-s);
}

@media (max-width: 600px) {
    .titleText {
        line-height: 20px;
    }

    .text {
        line-height: 20px;
    }

    .quantityContainer {
        margin-right: var(--gap-xs);
    }

    .iconContainer {
        margin: 0 var(--gap-xs);
    }
}
