.container {
    height: 90vh;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header_container {
    padding: 30px 0;
    text-align: start;
}

.header {
    text-align: start;
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -2.5px;
    margin: 0 auto;
}

.text {
    letter-spacing: 0;
}


@media (max-width: 960px) {

    .header {
        font-size: 75px;
        line-height: 88px;
    }

    .container {
        width: 75%;
        max-width: 910px;
    }

}

@media (max-width: 645px) {

    .header {
        font-size: 42px;
        line-height: 44px;
    }

    .container {
        width: 90%;
    }
}