.titleText {
    line-height: 25px;
    margin: 0;
}

.sumOfCart {
    border-top: 1px solid var(--color-light-border-underline-inverted);
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-l);
    align-items: flex-end;
    text-align: end;
    display: flex;
}

.amountSum {
    align-items: end;
    text-align: end;
    margin-left: var(--gap-s);
}

@media (max-width: 600px) {
    .titleText {
        line-height: 20px;
    }
    .sumContainer {
        padding: 0;
    }
    .sumOfCart {
        padding-bottom: 0;
        margin: 10px 0;
    }

}