.container {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-2xs) var(--gap-xl) var(--gap-2xs) var(--gap-xl);
    color: #000000;
}

.container_active {
    background-color: var(--color-light-bg-primary);
    position: relative;
    z-index: 1;
}

.logo {
    color: var(--color-dark-bg-accent);
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
}

.burger {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.burger:hover {
    cursor: pointer;
}

.links {
    text-decoration: none;
    font-weight: 700;
}

.menu {
    font-size: 32px;
    letter-spacing: var(--gap-3xs);
}

.menu:hover {
    cursor: pointer;
}
