.container {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-2xs) var(--gap-xl) var(--gap-2xs) var(--gap-xl);
    color: #000000;
}

.backdrop {
    --backdrop-visible-background: var(--color-dark-bg-opaque);
}

.logo_container {

}

.logo {
    color: var(--color-dark-bg-accent);
    text-decoration: none;
    vertical-align: middle;
}

.burger.burger{
    width: 40px;
    height: 40px;
}

.burger:hover {
    cursor: pointer;
}

.links {
    width: 150px;
    display:flex;
    text-decoration: none;
    font-weight: 700;
}

.menu {
}

.menu:hover {
    cursor: pointer;
}

@media (max-width: 960px) {
    .menu {
        display: none;
    }
    .links {
        width: 50px;
    }
}

@media (max-width: 645px) {
    .logo {
        position: relative;
        z-index: 1000;
    }

    .links {
        width: 30px;
    }

}
