@import '@alfalab/core-components/vars/gaps.css';

.container {
    display: flex;
    height: 950px;
}

.component {
    width: 50%;
    text-decoration: none;
    color: #000000;
}

.header {
    margin-left: var(--gap-4xl);
}

.madeinalpha {
    background-image: url("https://thumb.tildacdn.com/tild6338-6166-4963-a230-356561343839/-/format/webp/Frame_44_3.jpg");
    background-position: top;
    height: 1000px;
}

.owndesign {
    background-image: url("https://thumb.tildacdn.com/tild6666-3462-4231-b130-303730643263/-/format/webp/Frame_43_2.jpg");
    background-position: top;
    height: 1000px;
}

