.container {
    display: flex;
    height: 90vh;
}

.component {
    width: 50%;
    text-decoration: none;
    color: #000000;
}

.header {
    margin-left: var(--gap-3xl);
    position: absolute;
}

.madeinalpha {

}

.owndesign {

}

.madeinalpha_img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    height: 96vh;
}

.owndesign_img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
    height: 96vh;
}

@media (max-width: 960px) {
    .container {
        height: 180vh;
        display: block;
    }
}
