.side_container {
    background-color: #000000;
}

.header {
    background-color: #000000;
}

.content {
    padding: 0;
    background-color: #000000;
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 560px;
    color: var(--color-light-bg-primary);
}

.footer {
    background-color: #000000;
}

.text {
    text-decoration: none;
    color: var(--color-light-bg-primary);
}

.contacts_icons {
    padding: 0;
    list-style-type: none;
    display: flex;
}

.icon_contact {
    display: flex;
    margin-right: var(--gap-xs);
}

.link_contact {
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-light-bg-primary);
    border-radius: 50%;
    background-color: var(--color-light-bg-primary);
    color: #000000;
}


@media (max-width: 645px) {

    .side_container {
        position: relative;
        z-index: 1;
        background-color: var(--color-light-bg-primary);
    }

    .header {
        position: relative;
        z-index: 1;
        background-color: var(--color-light-bg-primary);
    }

    .content {
        background-color: var(--color-light-bg-primary);
    }

    .icon {
        color: #000000;
    }

    .footer {
        background-color: var(--color-light-bg-primary);
    }

    .text {
        color: #000000;
    }

    .link_contact {
        border: 1px solid #000000;
        border-radius: 50%;
        background-color: #000000;
        color: var(--color-light-bg-primary);
        line-height: 30px;
        width: 30px;
        height: 30px;
    }
}