@import "@alfalab/core-components/vars/colors-transparent.css";
@import '@alfalab/core-components/vars/colors-bluetint.css';

.side_container {
    background-color: #000000;
}

.header {
    background-color: #000000;
}

.content {
    padding: 0;
    background-color: #000000;
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 560px;
    color: var(--color-light-bg-primary);
}

.icon:hover {
    cursor: pointer;
}

.text {
    font-weight: 700;
    color: var(--color-light-bg-primary);
    text-decoration: none;
}

.footer {
    background-color: #000000;
}

//br {
//    display: block;
//    content: "";
//    margin-top: var(--gap-2xs);
//}

.text {
    text-decoration: none;
    color: var(--color-light-bg-primary);
    background-color: #000000;
}

.contacts_icons {
    padding: 0;
    list-style-type: none;
    display: flex;
}

.icon_contact {
    display: flex;
    margin-right: var(--gap-xs);
}

.link_contact {
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-light-bg-primary);
    border-radius: 50%;
    background-color: var(--color-light-bg-primary);
    color: #000000;
}
