body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
  color: #000000;
  font-family: 'StyreneA', Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'StyreneA';
  src: url("./fonts/StyreneAWeb-Medium.woff"),
      url("./fonts/StyreneAWeb-Medium.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'StyreneA';
  src: url("./fonts/StyreneAWeb-Bold.woff"),
  url("./fonts/StyreneAWeb-Bold.woff2");
  font-weight: 500;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
