.container {
    width: 33.33%;
    text-align: start;
    align-items: start;
}

.text {
    text-align: start;
    align-items: start;
}

@media (max-width: 960px) {

    .container {
        width: 50%;
    }
}

@media (max-width: 470px) {

    .container {
        width: 100%;
    }
}