.container {
    width: 33.33%;
}

.footer  {
    text-align: start;
    width: 263px;
    box-sizing: border-box;
    line-height: 1.35;
    font-size: 20px;
    font-weight: 700;
    align-items: start;
}

.content  {
    align-items: start;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.graphics  {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: rgba(55, 120, 251, 0.1);
    border: 1px dashed rgb(55, 120, 251);
    box-sizing: border-box;
}